*{
  text-align: center;
}
.login{
  height: 100%;
  background-image: linear-gradient(-135deg, #c3ecff 0%, #76ffd4 100%);
}
.title{
  font-size: 32px;
  font-weight: bold;
  margin: 12px;
  text-align: center;
  color: #0a5a9b;
}

.logo{

}

.login-title{
  position: absolute;
  top: 45%;
  left: 50%;
  margin: -250px;
}

.login-box{
  background-image: linear-gradient(-135deg, #9cf8ba 0%, #efffde 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px -210px;
  padding: 10px;
  width: 400px;
  height: 300px;
  border: solid #3bbad6;
  border-radius: 30px;
  box-shadow: #3bbad6 3px 6px;
}

.login-btn{
  margin-top: 10px;
  width: 30%;
  height: 45px;
  background-image: linear-gradient(-135deg, #3bbad6 0%, #3f68af 100%);
  border-radius: 6px;
  font-size: 20px !important;
  color: #000000;
  font-weight: bold;
}
.login-checkbox{
  padding: 0 12px 10px;
}
.login-box .newPassword{
  text-decoration-line: none;
  float: right;
  color: #ff0000;
  cursor: pointer;
}

.re-button{
  float: left;
  margin-left: 80px;
}

.pwdarea{
  padding: 0;
  background-image: linear-gradient(-135deg, #9cf8ba 0%, #efffde 100%);
  border: solid #3bbad6;
  border-radius: 30px;
  box-shadow: #3bbad6 3px 6px;
}




