/*全局*/
html,body,#app{
  height: 100%;
  margin: 0;
  padding: 0;
}
.login-checkbox .el-checkbox .el-checkbox__label{
  font-size: 14px !important;
  margin: 0 12px;
}
/*.el-form-item__label{
  padding-top: 16px;
}*/
.login-box .el-input__inner {
  width: 100% !important;
  height: 50px !important;
  border-radius: 36px !important;
  border: 1px solid #3bbad6 !important;
  font-size: 22px !important;
  margin: 10px 0 !important;
  padding-left: 60px;
  background-color: #ffe9d5 !important;
}
.login-box .el-input__prefix .el-input__icon {
  font-size: 25px;
}
.login-box .el-icon-user:before {
  position: relative;
  left: 15px;
  top: 3px;
}
.login-box .el-icon-key:before {
  position: relative;
  left: 15px;
  top: 3px;
}
.login-box .el-input__suffix .el-icon-view {
  position: relative;
  font-size: 24px;
  left: -12px;
  top: 3px;
}
.changepwd .el-dialog{
  border-radius: 30px;
}
.changepwd .el-dialog__body{
  padding: 0;
}
.changepwd .el-dialog__header{
  padding: 0;
}

/*header-bar设置**************************/
.el-row {
  margin-bottom: 4px;
}
.el-col {
}

/*aside-bar设置*************************************/
.aside-bar{
  height: calc(100vh - 88px);
  width: 220px;
}

/*footer-bar设置*************************************/
.footer-bar{
  line-height: 20px;
}
/*index设置****************************************************/
a {
  text-decoration: none;
}
.el-container {
}
.el-header {
  padding: 0;
  height: 60px !important;
}
.el-footer{
  padding: 0;
}



/*自定义*/
/*------hButton-------*/
.hButton {
  display: inline-block;
  padding: 1em 2em;
  background-color: #ff0081;
  /* background-color: transparent; */
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 25px rgba(233, 30, 99, 0.5);
  outline: 0;
  transition: transform ease-in 0.1s, background-color ease-in 0.1s,  box-shadow ease-in 0.25s;
}

.hButton::before{
  position: absolute;
  content: '';
  left: -2em;
  right: -2em;
  top: -2em;
  bottom: -2em;
  pointer-events: none;
  transition: ease-in-out .5s;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
    /*  */
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%,
  15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%, 65% 30%, 80% 32%, 15% 60%,
  83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%, 64% 70%, 80% 71%;
  animation: bubbles ease-in-out .75s forwards;
}

.hButton:active {
  transform: scale(0.95);
  background-color: #f3037c;
  box-shadow: 0 2px 25px rgba(233, 30, 99, 0.5);
}
.hButton:active::before {
  animation: none;
  background-size: 0;
}
@keyframes bubbles {
  0% {
    background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%, 65% 30%, 80% 32%, 15% 60%,
    83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%, 64% 70%, 80% 71%;
  }
  50% {
    background-position: 10% 44%, 0% 20%, 15% 5%, 30% 0%, 42% 0%, 62% -2%, 75% 0%, 95% -2%, 0% 80%,
    95% 55%, 7% 100%, 24% 100%, 41% 100%, 55% 95%, 68% 96%, 95% 100%;
  }
  100% {
    background-position: 5% 44%, -5% 20%, 7% 5%, 23% 0%, 37% 0, 58% -2%, 80% 0%, 100% -2%, -5% 80%,
    100% 55%, 2% 100%, 23% 100%, 42% 100%, 60% 95%, 70% 96%, 100% 100%;
    background-size: 0% 0%;
  }
}
/*-----------------------*/
.basicInformation .el-form-item__label{
  font-size: 20px;
  line-height: 6px;
  margin-top: 16px;
}

.education .el-timeline-item__timestamp{
  font-size: 24px !important;
}
.education .el-collapse-item__header{
  font-size: 22px !important;
}

.work .el-timeline-item__timestamp{
  font-size: 24px !important;
}
.work .el-collapse-item__header{
  font-size: 22px !important;
}

.version .el-timeline-item__timestamp{
  font-size: 20px !important;
}
.version .el-collapse-item__header{
  font-size: 20px !important;
}
